*.sln
/Library
/Logs
/.idea
/Backend/.idea
/Backend/json/*.json
/Backend/Video
/Backend/*.png
/Backend/__pycache__
/Assets/video.meta
/Assets/video
/obj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
__pycache__
/Assets/RenderOutput
/Backend/img
/Backend/checkpoints/coco_pretrained/latest_net_G.pth
/Backend/dataset/val_label/greyscale.png
/Backend/dataset/val_inst/greyscale.png
/Backend/dataset/val_img/greyscale.png
/Assets/StreamingAssets
/Backend/hand_json
/Backend/json
/Backend/data/shape_predictor_68_face_landmarks.dat
