*.sln
/Library
/Logs
/.idea
/Backend/.idea
/Backend/json/*.json
/Backend/Video
/Backend/*.png
/Backend/__pycache__
/Assets/video.meta
/Assets/video
/obj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
